<div class="p-3">
<!-- Buffer Block -->
</div>
<h1 class="card-header shadow-sm">Customer Index</h1>
<%= paginate @customers %>
<table class="table">
  <thead class="thead-light">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Phone</th>
      <th scope="col">Email</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
  <% @customers.each do |customer| %>
    <tr>
      <td><%= customer.customer_number %></td>
      <td><%= customer.bus_name %></td>
      <td><%= customer.phone %></td>
      <td><%= customer.email %></td>
      <td><%= link_to "Show", customer_path(customer),
        class: "btn-sm btn-info mt-2  p-1"%></td>
    </tr>
  <% end %>
  </tbody>
</table>
<%= paginate @customers %>
