<!--
            Admins with permissions lvl-2 or lower are allower to access this page, customer-no
-->

<!--
Form Customer Information
list all the customer information contacts, location and machines
 -->
 <div class="p-3">
 <!-- Buffer Block -->
 </div>
<h3 class="card-header shadow-sm">Main Contact</h3>

<!-- Customer form, show -->
<%= form_for @customer do |f| %>
  <div class="p-3">
  <!-- Buffer Block -->
  </div>

  <!-- Costumer Number and delete button -->
  <div class="card w-50">
    <div class="card-body d-flex flex-row justify-content-between">
      <h5>Customer: <%= @customer.customer_number %></h5>
      <!-- Delete, Admin permission lvl-0 only access-->
      <div>
        <%= link_to "Delete", customer_path(@customer), class: 'btn btn-outline-danger', data: {confirm: "Are you sure?"}, method: :delete%>
      </div>
    </div>
  </div>
  <!-- Costumer Name -->
  <div class="d-flex flex-row shadow"> <!-- cards wrapper -->
    <div class="card w-50">
      <h5 class="card-header"><%= @customer.bus_name %></h5>
      <!-- Costumer Info -->
      <div class="card-body">
        <div class="d-flex flex-row justify-content-between">
          <!-- Phone and Email -->
          <div>
            <h5 class="card-title">Contact:</h5>
            <p class="card-text m-0">Tel: <%= @customer.phone %></p>
            <p class="card-text m-0">Email: <%= @customer.email %></p>
          </div>
          <!-- Address -->
          <div class="mr-3">
            <h5 class="card-title">Address:</h5>
            <p class="card-text d-flex justify-content-end m-0"><%= @customer.suite %></p>
            <p class="card-text d-flex justify-content-end m-0"><%= @customer.street %></p>
            <p class="card-text d-flex justify-content-end m-0"><%= @customer.city%>, <%= @customer.state%> <%= @customer.zip_code %></p>
            <p class="card-text d-flex justify-content-end m-0"><%= @customer.country %></p>
          </div>
        </div>
      </div><!-- card-body -->
      <!-- On Edit link to 'GET' customers#edit -->
      <%= link_to "Edit", edit_customer_path(@customer), class: 'btn btn-info' %>
    </div><!-- card -->
    <!-- Main Contact -->
    <div class="card w-50 h-75">
      <div class="card-header formHeadBlockSizing">
        <h5>Main Contact</h5>
      </div>
      <div class="card-body">
        <div class="d-flex flex-row justify-content-between">
          <!-- Name -->
          <div>
            <p class="card-text m-0">Title:<p>
            <p class="card-text"><%= f.text_field :main_contact_title, class: 'form-control-sm' %></p>
            <p class="card-text"><%= f.text_field :main_contact__first_name, placeholder:"First name", class: 'form-control-sm' %></p>
            <p class="card-text"><%= f.text_field :main_contact__last_name, placeholder:"Last name", class: 'form-control-sm' %></P>
          </div>
          <!-- Phone and email -->
          <div class="mr-5">
            <p class="card-text"></p>
            <p class="card-text m-0">Tel:</p>
            <p class="card-text"><%= f.text_field :main_contact_phone, class: 'form-control-sm'  %></p>
            <p class="card-text m-0">Email:</p>
            <p class="card-text"><%= f.text_field :main_contact_email, class: 'form-control-sm' %></p>
          </div>
        </div>
      </div><!-- card-body -->
      <!-- Edit, Admin permission lvl-1 or lower, access-->
      <!-- On Edit link to 'PUT' customers#update -->
      <%= f.submit "Submit", class: "btn btn-info" %>
    </div><!-- card -->
  </div><!-- cards wrapper -->
<% end %>
