  <h1 class="card-header shadow-sm">Machine Index</h1>
  <%= paginate @machines %>
  <table class="table">
    <thead class="thead-light text-sm">
      <tr>
        <th scope="col">Customer#</th>
        <th scope="col">Location Name</th>
        <th scope="col">Location</th>
        <th scope="col">Number</th>
        <th scope="col">Model</th>
        <th scope="col">Contact</th>
        <th scope="col">Phone</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
    <% @machines.each do |machine| %>
      <tr>
        <td><%= machine.customer_number %></td>
        <td><%= machine.location.customer.bus_name %></td>
        <td><%= machine.location.name %></td>
        <td><%= machine.machine_number %></td>
        <td><%= machine.model %></td>
        <td><%= machine.location.contact__first_name %></td>
        <td><%= machine.location.contact_phone%></td>
        <td><%= link_to "Show", machine_path(machine),
          class: "btn-sm btn-info  mt-2  p-1" %></td>
      </tr>
      <% end %>
    </tbody>
  </table>

  <%= paginate @machines %>
