  <h1 class="card-header shadow-sm">Machine Index</h1>
  <%= paginate @machines %>
  <table class="table">
    <thead class="thead-light">
      <tr>
        <th scope="col">Customer's number</th>
        <th scope="col">Costomer's name</th>
        <th scope="col">Location's name</th>
        <th scope="col">Machine's number</th>
        <th scope="col">Model</th>
        <th scope="col">Contact' name</th>
        <th scope="col">Contact's phone</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
    <% @machines.each do |machine| %>
      <tr>
        <td><%= machine.customer_number %></td>
        <td><%= machine.location.customer.bus_name %></td>
        <td><%= machine.location.name %></td>
        <td><%= machine.machine_number %></td>
        <td><%= machine.model %></td>
        <td><%= machine.location.contact__first_name %></td>
        <td><%= machine.location.contact_phone%></td>
        <td><%= link_to "Show", machine_path(machine),
          class: "btn-sm btn-info  mt-2  p-1" %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
  <%= paginate @machines %>
