<!-- Partial rendered by layouts/application.html.erb -->

<!-- Navigation bar -->
<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
  <%= link_to "SCTR", root_path, class: "navbar-brand text-secondery" %>


  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <% if account_signed_in?%>
        <li class="nav-item textColorGray mt-2">Hello <%= current_account.first_name %></li>
      <% elsif admin_signed_in?%>
        <li class="nav-item textColorGray mt-2">Hello Admin <%= current_admin.first_name %></li>
      <% end %>
    </ul>

    <form class="form-inline my-2 my-lg-0">
      <% if account_signed_in? or admin_signed_in?%>
        <% if account_signed_in?%>
          <%= link_to "Log out", destroy_account_session_path, class: 'nav-link text-dark', method: :delete%>
        <% else %>
          <%= link_to "Dashboard", adminbords_path, class: 'nav-link text-dark' %>
          <%= link_to "Log out", destroy_admin_session_path, class: 'nav-link text-dark', method: :delete%>
        <% end %>
      <% else %>
        <%= link_to "Log in", new_account_session_path, class: 'nav-link text-dark'%>
        <%= link_to "Admin log in", new_admin_session_path, class: 'nav-link text-dark'%>
      <% end %>


      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>
<% if account_signed_in?%>
  <!-- Customer -->
  <div class="fixed-top mt-5 ml-3">
    <div class="shadow mt-5" style="width: 15rem">
      <ul class="list-unstyled m-0">
        <li><%= link_to "New Service call", customer_location_select_machine_service_path(current_account.customer, current_account.locations), class: 'btn btn  btn-light  w-100' %></li>
        <li><%= link_to "Locations", new_customer_path, class: 'btn  btn-light  w-100' %></li>
        <li><%= link_to "Service calls index", new_customer_path, class: 'btn  btn-light w-100' %></li>
      </ul>
    </div>
  </div>
<% end %>

<% if admin_signed_in?%>
  <!-- Customer -->
<div class="mt-5 ml-5 fixed-top bsize">
  <div class=" mt-5 d-flex flex-column">

    <div class="btn-group mt-1 p">
      <button class="btn btn-large shadow">Customers&#160;&#160;&#160;</button>
      <button class="btn btn-mini dropdown-toggle shadow" data-toggle="dropdown">
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu pt-0 pb-0 shadow">
        <li><%= link_to "Index", customers_path, class: 'btn  btn-light w-100' %></li>
        <li><%= link_to "New", new_customer_path, class: 'btn btn-light w-100' %></li>
      </ul>
    </div>
    <div class="btn-group mt-1">
      <button class="btn btn-large shadow">Locations&#160;&#160;&#160;&#160;&#160;</button>
      <button class="btn btn-mini dropdown-toggle shadow" data-toggle="dropdown">
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu pt-0 pb-0 shadow">
        <li><%= link_to "Index", locations_path, class: 'btn btn-light w-100' %></li>
        <li><%= link_to "New", select_customer_new_location_path, class: 'btn btn-light w-100' %></li>
      </ul>
    </div>
    <div class="btn-group mt-1">
      <button class="btn btn-large shadow">Machines&#160;&#160;&#160;&#160;&#160;</button>
      <button class="btn btn-mini dropdown-toggle shadow" data-toggle="dropdown">
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu pt-0 pb-0 shadow">
        <li><%= link_to "Index", machines_path, class: 'btn btn-light w-100' %></li>
        <li><%= link_to "New", select_customer_new_machine_path, class: 'btn btn-light w-100' %></li>
      </ul>
    </div>
    <div class="btn-group mt-1">
      <button class="btn btn-large shadow">Accounts&#160;&#160;&#160;&#160;&#160;</button>
      <button class="btn btn-mini dropdown-toggle shadow" data-toggle="dropdown">
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu pt-0 pb-0 shadow">
        <li><%= link_to "Index", adminbord_accounts_path(1), class: 'btn btn-light w-100' %></li>
        <li><%= link_to "New",select_customer_new_account_path, class: 'btn btn-light w-100' %></li>
    </div>
    <div class="btn-group mt-1">
      <button class="btn btn-large shadow">Service calls</button>
      <button class="btn btn-mini dropdown-toggle shadow" data-toggle="dropdown">
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu pt-0 pb-0 shadow">
        <li><%= link_to "Index", service_calls_path, class: 'btn btn-light w-100' %></li>
        <li><%= link_to "Delete", service_calls_path, class: 'btn btn-light w-100' %></li>
      </ul>
    </div>
  </div>
</div>
<% end %>
