<!-- Partial rendered by layouts/application.html.erb -->

<!-- Navigation bar -->
<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
  <%= link_to "SCTR", root_path, class: "navbar-brand text-secondery" %>


  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <% if account_signed_in?%>
        <li class="nav-item textColorGray mt-2">Hello <%= current_account.first_name %></li>
      <% elsif admin_signed_in?%>
        <li class="nav-item textColorGray mt-2">Hello Admin <%= current_admin.first_name %></li>
      <% end %>
    </ul>

    <form class="form-inline my-2 my-lg-0">
      <% if account_signed_in? or admin_signed_in?%>
        <% if account_signed_in?%>
          <%= link_to "Log out", destroy_account_session_path, class: 'nav-link text-dark', method: :delete%>
        <% else %>
          <%= link_to "Dashbord", adminbords_path, class: 'nav-link text-dark' %>
          <%= link_to "Log out", destroy_admin_session_path, class: 'nav-link text-dark', method: :delete%>
        <% end %>
      <% else %>
        <%= link_to "Log in", new_account_session_path, class: 'nav-link text-dark'%>
        <%= link_to "Admin log in", new_admin_session_path, class: 'nav-link text-dark'%>
      <% end %>


      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>
