<!--
            Admins with permissions lvl-3 or lower are allower to access this page, customer-no
-->

<!--
Form Admin Dashbord
 -->


<h1 class="card-header">Admin dashbord</h1>
<div class="p-3">
<!-- Buffer Block -->
</div>
<div class="d-flex flex-row justify-content-between">
  <!-- Customer -->
  <div class="card" style="width: 18rem;">
    <div class="card-header">
      <h5>Customers</h5>
    </div>
    <ul class="list-unstyled">
      <li><%= link_to "Index", customers_path, class: 'btn btn-info w-100' %></li>
      <li><%= link_to "New", new_customer_path, class: 'btn btn-secondary w-100' %></li>
    </ul>
  </div>
  <!-- Locations -->
  <div class="card" style="width: 18rem;">
    <div class="card-header">
      <h5>Locations</h5>
    </div>
    <ul class="list-unstyled">
      <li><%= link_to "Index", locations_path, class: 'btn btn-info w-100' %></li>
      <li><%= link_to "New", select_customer_path, class: 'btn btn-secondary w-100' %></li>
    </ul>
  </div>
  <!-- Machines -->
  <div class="card" style="width: 18rem;">
    <div class="card-header">
      <h5>Machines</h5>
    </div>
    <ul class="list-unstyled">
      <li><%= link_to "Index", machines_path, class: 'btn btn-info w-100' %></li>
      <li><%= link_to "New", select_customer_path, class: 'btn btn-secondary w-100' %></li>
    </ul>
  </div>
  <!-- Customer's accounts -->
  <div class="card" style="width: 18rem;">
    <div class="card-header">
      <h5>Accounts</h5>
    </div>
    <ul class="list-unstyled">
      <li><%# link_to "Index", locations_path, class: 'btn btn-info w-100' %></li>
      <li><%# link_to "New", select_customer_path, class: 'btn btn-secondary w-100' %></li>
    </ul>
  </div>
  <!-- Services call -->
  <div class="card" style="width: 18rem;">
    <div class="card-header">
      <h5>Service call</h5>
    </div>
    <ul class="list-unstyled">
      <li><%# link_to "Index", locations_path, class: 'btn btn-info w-100' %></li>
      <li><%# link_to "New", select_customer_path, class: 'btn btn-secondary w-100' %></li>
    </ul>
  </div>

</div>
