<!--
      Form partial
-->

<!--Partial rendered by locations/edit.html.erb and costumers/new.html.erb-->

<!-- errors management -->
<%  if @location.errors.any? %>
 <div class="alert alert-danger" role="alert">
   <p><%= pluralize( @location.errors.count, "error") %> Prevented the location's from being submited</p>
   <ul>
     <% @location.errors.messages.each do |field,errors|  %>
       <% errors.each do |error| %>
         <li> Problems with <%= field %>: <%= error %></li>
       <% end %>
     <% end %>
   </ul>
 </div>
<% end %>

<div class="p-3">
<!-- Buffer Block -->
</div>

<!-- Location's form, edit/new -->

  <!-- Customer Number name phone -->
  <div class="card w-50">
    <div class="card-body d-flex flex-row justify-content-between ">
      <div>
        <div>
          <h6 class="pt-3 pr-3"><%= @location.customer.name%></h6>
          <h6 class="pt-3 pr-3">Tel: <%= @location.customer.phone %></h6>
        </div>
      </div>
      <div>
        <h6 class="pt-3 pr-3"><%= @location.customer_number %></h6>
      </div>
    </div>
  </div>
    <%= form_for @location do |f| %>
  <!--Location Info -->
  <div class="d-flex flex-row"><!-- cards wrapper -->
    <!-- Location Name -->
    <div class="card w-50" >
      <div class="card-header formHeadBlockSizing d-flex flex-row justify-content-between">
        <h5 >Location name: <%= f.text_field :name, class: "form-control-sm w-75 mt-1" %>* </h5>
        <div>
          <% if @location.name == nil  %>
            <%= link_to "Delete", root_path, class: 'btn btn-outline-danger disabled' %>
          <% else %>
            <%= link_to "Delete", location_path(@location), class: 'btn btn-outline-danger', data: {confirm: "Are you sure?"}, method: :delete%>
          <% end %>
        </div>
      </div>
      <div class="card-body">
        <div class="d-flex flex-column">
          <!-- Phone -->
          <h4 class="card-title">Contact:</h4>
          <p class="card-text">Tel:&#160;&#160;&#160;&#160;&#160;<%= f.phone_field :phone, class: "form-control-sm" %>*</p>
          <p class="card-text">Email:&#160;<%= f.email_field :email, class: "form-control-sm" %>*</p>
          <p></p>
          <!-- Address -->
          <h4 class="card-title">Address:</h4>
          <p class="card-text "><%= f.text_field :suite, placeholder:"suite",class: "form-control-sm w-25" %></p>
          <p class="card-text "><%= f.text_field :street, placeholder:"street", class: "form-control-sm w-100" %></p>
          <p class="card-text "><%= f.text_field :city, placeholder:"city", class: "form-control-sm w-50" %></p>
          <p class="card-text "><%= f.text_field :state, placeholder:"state", class: "form-control-sm w-50" %></p>
          <p class="card-text "><%= f.text_field :zip_code, placeholder:"zip code", class: "form-control-sm w-25" %></p>
          <p class="card-text "><%= f.text_field :country, placeholder:"country", class: "form-control-sm w-50" %></p>
        </div>
      </div><!-- card-body -->
      <!-- Submit, Admin permission lvl-1 or lower, access-->
      <%= f.submit "Submit", class: "btn btn-info" %>
  </div><!-- card -->
  <!-- Contact Infomation -->
    <% if @location.contact_email != nil %>
      <!-- Contact does exist -->
      <!-- Contact Infomation -->
      <div class="card w-50 cardSizing">
        <div class="card-header d-flex justify-content-between">
          <h5>Location contact</h5>
        </div>
        <div class="card-body">
          <!-- Name -->
          <div class="d-flex flex-row justify-content-between">
            <div>
              <p class="card-text"><strong>Title:&#160;</strong><%= @location.contact_title %></p>
              <p class="card-text"><strong>First name:&#160;</strong><%= @location.contact__first_name %></p>
              <p class="card-text"><strong>Last name:&#160;</strong><%= @location.contact__last_name %></P>
            </div>
            <!-- Phone and email -->
            <div class="mr-3">
              <p class="card-text"></p>
              <p class="card-text"><strong>Tel:&#160;</strong><%= @location.contact_phone %></p>
              <p class="card-text"><strong>Email:&#160;</strong><%= @location.contact_email %></p>
          </div>
        </div><!-- card-body -->
      </div><!-- card -->
      <!-- Edit, Admin permission lvl-1 or lower, access-->
      <%# if location exists, link to the location contact partial edit %>
      <% if @location.name != nil %>
        <%= link_to "Edit", location_contact_path(@location), class: 'btn btn-info'%>
      <% end %>
    <% else %>
        <!-- Main Contact does not exist -->
        <div class="card w-50 cardSizing">
          <!--  No main contact partial -->
          <%= render  'noContact' %>
          <!-- Add, Admin permission lvl-1 or lower, access-->
          <!-- checks if contact exist for edit rendering, if yes it disables add link -->
          <% if @location.name != nil and @location.contact_email == nil %>
            <%= link_to "Add", location_contact_path(@customer), class: 'btn btn-info mt-0' %>
          <% else %>
            <%# While a new location form is filled Add is disabled %>
            <%= link_to "Add", root_path, class: "btn btn-info mt-0 disabled" %>
          <% end %>
        </div><!-- card -->
    <% end %>
  <% end %>
  </div><!-- cards wrapper -->
