<!--
Admins with permissions lvl-2 or lower are allower to access this page, customer-no
-->

<!--
Location Information
list all the customer information contacts, location and machines
-->

<h3 class="card-header">Location information</h3>

<div class="p-3">
<!-- Buffer Block -->
</div>
<!-- Customer Number name phone -->
<div class="card w-50">
  <div class="card-body d-flex flex-row justify-content-between ">
    <div>
      <div>
        <h6 class="pt-3 pr-3"><%= @location.customer.name %></h6>
        <h6 class="pt-3 pr-3">Tel:&#160;<%= @location.customer.phone %></h6>
      </div>
    </div>
    <div>
      <h6 class="pt-3 pr-3"><%= @location.customer_number %></h6>
    </div>
  </div>
</div>
<!--Location Info -->
<div class="d-flex flex-row"> <!-- cards wrapper -->
  <div class="card w-50">
    <div class="card-header formHeadBlockSizing d-flex flex-row justify-content-between">
      <h5 class="mt-2&#160;"><%= @location.name %></h5>
      <div>
        <%= link_to "Delete", location_path(@location), class: 'btn btn-outline-danger', data: {confirm: "Are you sure?"}, method: :delete%>
      </div>
    </div>
    <!-- Costumer Info -->
    <div class="card-body">
      <div class="d-flex flex-row justify-content-between">
        <!-- Phone and Email -->
        <div>
          <h5 class="card-title">Contact:</h5>
          <p class="card-text m-0">Tel:&#160;&#160;&#160;&#160;&#160;<%= @location.phone %></p>
          <p class="card-text m-0">Email:&#160;<%= @location.email %></p>
        </div>
        <!-- Address -->
        <div class="mr-3">
          <h5 class="card-title">Address:</h5>
          <p class="card-text d-flex justify-content-end m-0"><%= @location.suite %></p>
          <p class="card-text d-flex justify-content-end m-0"><%= @location.street %></p>
          <p class="card-text d-flex justify-content-end m-0"><%= @location.city%>, <%= @location.state%> <%= @location.zip_code %></p>
          <p class="card-text d-flex justify-content-end m-0"><%= @location.country %></p>
        </div>
      </div>
        <%= link_to "Add machine", new_customer_location_machine_path(@location.customer, @location), class: "btn btn-outline-success mt-5" %>
    </div><!-- card-body -->
    <%= link_to "Edit", edit_location_path(@location), class: 'btn btn-info' %>
  </div><!-- card -->
  <!-- Main Contact Infomation -->
  <% if @location.contact_email != nil %>
    <!-- Main Contact does exist -->
    <!-- Main Contact Infomation -->
    <div class="card w-50">
      <div class="card-header d-flex justify-content-between">
        <h5>Contact</h5>
      </div>

      <div class="card-body">
        <!-- Name -->
          <div class="d-flex flex-row justify-content-between">
            <div>
              <p class="card-text"><strong>Title:&#160;</strong><%= @location.contact_title %></p>
              <p class="card-text"><strong>First name:&#160;</strong><%= @location.contact__first_name %></p>
              <p class="card-text"><strong>Last name:&#160;</strong><%= @location.contact__last_name %></P>
            </div>
            <!-- Phone and email -->
            <div class="mr-3">
              <p class="card-text"></p>
              <p class="card-text"><strong>Tel:&#160;</strong><%= @location.contact_phone %></p>
              <p class="card-text"><strong>Email:&#160;</strong> <%= @location.contact_email %></p>
          </div>
        </div>
      </div><!-- card-body -->
      <!-- Edit, Admin permission lvl-1 or lower, access-->
      <!-- On Edit link to 'GET' customers#edit -->
      <%= link_to "Edit", location_contact_path(@location.id), class: 'btn btn-info'%>
    </div><!-- card -->
  <% else %>
    <!-- Main Contact does not exist -->
    <div class="card w-50">
      <!--  No main contact partial -->
      <%= render  'noContact' %>
      <!-- Add, Admin permission lvl-1 or lower, access-->
      <%= link_to "Add", location_contact_path(@location.id), class: "btn btn-info mt-0" %>
    </div><!-- card -->
  <% end %>
</div><!-- cards wrapper -->
