<!DOCTYPE html>
<html>
  <head>
    <title>SCTRApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <!-- header render from app/views/application/_header.html.erb -->
    <%= render 'header' %>

    <main role="main">
      <div class="container">
        <!-- Alerts use by Devise -->
        <p class="notice"><%= notice %></p>
        <p class="alert"><%= alert %></p>

        <%= yield %>

      </div>
    </main>

    <!-- footer render from app/views/application/_footer.html.erb -->
    <%= render 'footer' %>
  </body>
</html>
