
<!-- account Index -->

  <h1 class="card-header">account Index</h1>
  <%= paginate @accounts %>
  <table class="table">
    <thead class="thead-light">
      <tr>
        <th scope="col">Customer's number</th>
        <th scope="col">Costomer's name</th>
        <th scope="col">Email</th>
        <th scope="col">First name</th>
        <th scope="col">Last name</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
    <% @accounts.each do |account| %>
      <tr>
        <td><%= account.customer_number %></td>
        <td><%= account.customer.bus_name %></td>
        <td><%= account.email %></td>
        <td><%= account.first_name %></td>
        <td><%= account.last name%></td>
        <td><%= link_to "Show", show_account_register_path(account),
          class: "btn-sm btn-primary  mt-2  p-1"%></td>
      </tr>
    <% end %>
    </tbody>
  </table>
  <%= paginate @accounts %>
